*{
  padding: 10;

}
#container{
  background-color: #E8F5E9 ;
}
.nag{
  background-color: #1B5E20;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25;
  padding: 5;
}
img{
  height: 150;
  text-align: center;
}
.tag{
  font-size: 18;
  color: #5D9B5D;
  font-weight: bold;
  text-align: center;
  margin: 5;
}
select{
  border: none;
  background-color: #E8F5E9;
}
#seldiv{
  text-align: center;
}
.rardio{
  width: 50%;
  float: left;
}